@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&family=Ultra&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

button {
  cursor: pointer;
}

body {
  /* background-color: blueviolet; */
  background: linear-gradient(90deg, rgba(91,30,159,1) 0%, rgb(147, 24, 151) 100%);

  color: aliceblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: black;
  width: 90%;
  max-width: 800px;

  border: 2px solid blue;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 0 2px 2px;
}